APP_NAME=ShlapaBank
APP_ENV=dev
SECRET_KEY=change_me_to_a_long_random_string
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=postgresql+psycopg2://shlapabank:shlapabank@db:5432/shlapabank
DEFAULT_ADMIN_LOGIN=admin
DEFAULT_ADMIN_PASSWORD=admin
DEFAULT_ADMIN_EMAIL=admin@shlapabank.local
OPERATION_OTP_CODE=0000
